@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
}

.background {
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        139deg,
        rgba(255, 193, 193, 1),
        rgba(154, 111, 201, 1) 75%
    );
}

.container {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    width: 30%;

    border-radius: 10px;
    box-shadow: 7px 5px 5px rgba(154, 111, 201, 1);

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-bottom: 1em;
        margin-bottom: 1em;
        border-bottom: 2px solid rgba(154, 111, 201, 1);

        &_left {
            margin-right: 0.5em;
            display: flex;
            align-items: center;
            &_date {
                font-size: 2em;
                margin: 2px 0.1em 0 0;
            }
            &_month_and_year {
                margin-top: 1px;
                p {
                    margin: 0;
                    font-size: 13px;
                }
                p:nth-child(1) {
                    text-transform: capitalize;
                }
            }
        }
        &_right {
            h1 {
                font-size: 18px;
            }
        }
    }

    .todos {
        width: 100%;

        .todo {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &Left {
                display: flex;
                align-items: center;
            }

            &Check {
                border: 2px solid #d9d9d9;
                color: rgba(154, 111, 201, 1);
                border-radius: 0.4em;
                font-size: 1.3em;
                height: 20px;
                width: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 1em;
                cursor: pointer;

                &Completed {
                    border: 2px solid rgba(154, 111, 201, 1);
                    color: rgba(154, 111, 201, 1);
                }

                svg {
                    margin: 0 0 3px 10px;
                }

                &IconToggleComplete {
                    opacity: 0;
                    transition: 0.3s;

                    &:hover {
                        opacity: 1;
                    }
                }

                &IconToggleUncomplete {
                    opacity: 1;
                    transition: 0.3s;

                    &:hover {
                        opacity: 0;
                    }
                }
            }

            &Delete {
                cursor: pointer;
            }

            &TextCompleted {
                text-decoration: line-through;
            }
        }
    }

    .createTodo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-top: 1em;
        padding-top: 2em;
        border-top: 2px solid rgba(154, 111, 201, 1);
        &Input {
            height: 2em;
            border: 2px solid rgba(154, 111, 201, 1);
            border-radius: 0.4em;
            width: 80%;
            margin-right: 1em;
            padding: 0.5em 1em;
            font-family: 'Roboto', Arial, sans-serif;
            transition: 0.3s;

            &::placeholder {
                margin: 1em;
            }

            &:focus {
                outline: none;
                background: #e7e7e7;
            }
        }

        &Btn {
            border: none;
            background: none;
            padding: 0;
            cursor: pointer;

            svg {
                font-size: 2.1em;
                border: 3px solid rgba(154, 111, 201, 1);
                background-color: rgba(154, 111, 201, 1);
                color: #fff;
                border-radius: 1em;
                padding: 5px 6.4px;
                transition: 0.3s;
            }

            &:hover {
                svg {
                    background-color: #fff;
                    color: rgba(154, 111, 201, 1);
                }
            }
        }
    }
}
